.name {
  float: left;
}

.cost {
  float: right;
}

#grand-total {
  font-size: 12pt;
  font-weight: bolder;
}

table {
  width: 100%;
}
@media (min-width: 480px) {
  #grand-total {
    font-size: 14pt;
  }
}