.menu-item {
  margin: 15px;
}

.item-thumbnail {
  object-fit: cover;
  width:130px;
  height:130px;
}

@media screen and (min-width: 480px) {
  .item-thumbnail {
    width:230px;
    height:230px;
  }
}

.item-name {
  padding: 10px;
}

.item-price {
  float: right;
}

.item-quantity {
  padding: 10px; 
}